extends layout

block content
  .span3.hosts
    .well
      h3 
        i.icon-minus
        | Host
      .details
        h5 Files
        ul
          li production.log
          li nginx.log
        h5 Processes
        ul
          li nginx
          li redis-server
  .span9.main
    .page-header
      h1